header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 4px #aeabab;
    z-index: 1000;
}

nav {
    margin: auto;
    display: flex;  
    justify-content: space-between;
    align-items: center;
    background-color: rgb(15, 15, 15);
    padding: 0px 70px;
}

.logo {
    height: 90px;
    width: 150px;
}

.navlinks {
    display: flex;
    gap: 30px;
}

.links {
    text-decoration: none;
    color: #aeabab;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
}

.hamburger {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #dad5d5;
    transition: all 0.3s ease;
}

@media (max-width: 768px) {
    .navlinks {
        display: none;
        flex-direction: column;
        gap: 10px;
    }

    .navlinksContainer.open .navlinks {
        display: flex;
        position: absolute;
        top: 50px;
        right: 15px;
        background-color: #fff;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        padding: 10px;
        border-radius: 5px;
    }

    .hamburger {
        display: flex;
    }
}
